html {
  height: 100%;
}

@font-face {
    font-family: 'Neon2';
    src: url('assets/fonts/neon2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ARCADECLASSIC';
    src: url('assets/fonts/ARCADECLASSIC.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIGITALDREAM';
    src: url('assets/fonts/DIGITALDREAM.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100%;
}

h1 {
  font-family: 'ARCADECLASSIC';
  font-weight: bold;
  color: #0066cc;
  vertical-align: middle;
  grid-column: 1;
  grid-row: 1;
}

#greeting {
  word-spacing: 0.5em;
}

#retailname {
  margin-top: 3em;
  font-size: 3em;
  word-spacing: 0.2em;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.5;
  vertical-align: middle;
}

img {
  margin: auto;
  vertical-align: middle;
  grid-column: 1;
  grid-row: 2;
  height: 40vh;
}

#button1, #button2 {
  width: 20em;
  height: 5em;
  margin: auto;
  margin-bottom: 2em;
  background-color: #0096c7;
  color: whitesmoke;
  border-radius: 2em !important;
  box-shadow: 8px 5px 20px -8px #263238;
  border: 1px solid #000;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
  grid-column: 1;
  grid-row: 3;
  font-size: 1em;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#button1, #button2 span {
  font-size: 1.5em;
}

#button1:hover, #button2:hover {
  background-color: #00cc00;
  box-shadow: 1px 1px 1px #cccccc;
  cursor: pointer;
}

#button1:active, #button2:active {
  background-color: #0096c7;
  box-shadow: 0px 0px 0px #cccccc;
}
