@font-face {
	font-family: Silkscreen;
	src: url("resources/fonts/silkscreen/slkscr.ttf");
}

html,
body {
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	background: #e0e0e0;

	/* hide scrollbars */
	overflow: hidden;
}

canvas {
	width: 98%;
	height: 98%;
	border-color: red;
	border-width: 0.5vh;
	border-style: solid;
}

p {
    text-align: center;
    padding-top: 60%;
}

button {
	padding: 1px;
}