@font-face {
	font-family: Silkscreen;
	src: url("resources/fonts/silkscreen/slkscr.ttf");
}

html,
body {
	margin: 0;
	padding: 0;
	background: black;
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

canvas {
	width: 98%;
	height: 98%;
	border-color: black;
	border-width: 0.5vh;
	border-style: solid;
}

p {
    text-align: center;
    padding-top: 60%;
}

button {
	padding: 1px;
}

.swal2-popup {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	overflow: hidden;
}

.swal2-html-container div {
  font-size: calc(1em + 1vh);
  border-color: black;
  border-style: solid;
  padding: 2vh;
  border-radius: 2vh;
  font-weight: bold;
  color: indigo;
  margin-top: 3vh;
}

.swal2-html-container span {
	font-size: 1.3em;
}

.swal2-html-container strong {
	font-size: 1.5em;
}

.swal2-overlay {
  background-color: white !important;
}

.swal2-actions {
	flex-direction: column;
}

.swal2-actions button {
	width: 15em;
}

.swal2-confirm {

}

.swal2-deny {
	background-color: #6e7881 !important;
}

.swal2-cancel {
	background-color: #dc3741 !important;
}

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}

.d-none {
	display: none;
}