html {
}

body {
    margin: 0;
    padding: 0;
    background: #000 radial-gradient(1000px 500px, #3f546b, #000);
    font-family: Comic Sans MS;
}

div.main {
    margin: 0 auto;
    padding: 0 10px 30px 10px;
    max-width: 700px;
    /* background-color: #61C793; */
    /* line-height: 0; */
    position: relative;
}

div.score {
    /* position: absolute; */
    z-index: 1001;
    width: 100%;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    height: 130px;
}

    div.score > button {
        font-size: 30px;
        margin: 20px 0 0 0;
        padding: 6px 40px;
        color: #fff;
        background-color: #593f6b;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        outline: none;
        transition: all 0.3s;
        border: solid 2px #ccc;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
    }

        div.score > button:active {
            background-color: #A92453;
        }

.game-container {
    position: relative;
    margin-top: 30px;
    height: 500px;
}

canvas.gamecanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-radius: 0px;
    background-color: #00311c;
    cursor: default;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0 0 10px #00130B inset;
}

.score-time {
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
}

.score-num {
    font-size: 30px;
    color: #fff;
    line-height: 0;
    padding: 20px 0 20px 0;
    margin-top: 10px;
}

    .score-num > span {
        font-size: 50px;
        vertical-align: bottom;
        padding: 0 10px;
    }

#trigger-div {
    position: absolute;
    z-index: 3;
    text-align: center;
    top: 20%;
    padding: 20px;
    margin: 30px 60px 30px 60px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: magenta;
}

#trigger-text {
    color: chartreuse;
    font-size: 30px;
    font-weight: bold;
}

.d-none {
    display: none;
}