html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FF9090;
  overflow: hidden;
  font-family: "Coda", cursive;
}

#title {
  width: 350px;
  text-align: center;
  font-size: 4vh;
  margin-bottom: 5vh;
}

.deck {
  width: 345px;
  margin: 0 auto;
  background: #FFFA62;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 14px 14px 0 0 #000000;
}
.deck .card {
  height: 75px;
  width: 75px;
  background: #FFCF7F;
  display: inline-block;
  margin: 0 15px 15px 0;
  line-height: 140px;
  font-size: 0;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  vertical-align: top;
  cursor: pointer;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
  font-family: FontAwesome;
  line-height: 75px;
}
.deck .card:nth-child(4n) {
  margin: 0 0 15px 0;
}
.deck .card:nth-child(n+13) {
  margin: 0 15px 0 0;
}
.deck .card:nth-child(n+13):nth-child(4n) {
  margin: 0;
}
.deck .card.open {
  transform: rotateY(0);
  background: #89C4FF;
  cursor: default;
}
.deck .card.show {
  font-size: 33px;
}
.deck .card.match {
  transform: rotateY(0);
  cursor: default;
  background: #9BCB3C;
  font-size: 33px;
}
.deck .card.notmatch {
  background: #EE0E51;
}

#score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
  font-size: 24px;
}
#score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}
#score-panel .stars li {
  list-style: none;
  display: inline-block;
}
#score-panel .restart {
  float: right;
  cursor: pointer;
}

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}

.swal2-overlay {
  background-color: white;
  display: grid;
}

.swal2-content div {
  font-size: 4vh;
  border-color: black;
  border-style: solid;
  padding: 2vh;
  border-radius: 2vh;
  font-weight: bold;
  color: indigo;
  margin-top: 3vh;
}

.swal2-container {
  overflow-y: hidden;
}

.swal2-icon {
  margin-top: 2em;
}

.swal2-popup {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  overflow: hidden;
  padding: 0 !important;
  height: 100% !important;
  grid-row: 2 !important;
}

.swal2-html-container div {
  font-size: calc(1em + 1vh);
  border-color: black;
  border-style: solid;
  padding: 2vh;
  border-radius: 2vh;
  font-weight: bold;
  color: indigo;
  margin-top: 3vh;
}

.swal2-html-container {
  margin-top: 0.2em;
}

.swal2-html-container span {
  font-size: 1em;
}

.swal2-html-container strong {
  font-size: 1.2em;
}

.swal2-overlay {
  background-color: white !important;
}

.swal2-actions {
  flex-direction: row;
}

.swal2-actions button {
  width: 4em;
  height: 4em;
  border-radius: 2em !important;
  margin-right: 1em;
  margin-left: 1em;
  box-shadow: 3px 3px 18px -8px #263238;
}

.swal2-actions button i {
  /*font-size: 1.5rem;*/
}

.swal2-confirm {
  background-color: #fcbf49 !important;
}

.swal2-deny {
  background-color: #f77f00 !important;
}

.swal2-cancel {
  background-color: #d62828 !important;
}

.swal2-title {
  font-family: Lucida Grande !important;
  font-size: 2em !important;
  padding-top: 0.1em !important;
}

.logo-div {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  justify-self: safe start;
  z-index: 2000;
}

.logo-div img {
  height: 10vh;
}

.trigger-div {
  font-size: 1.3em;
  border-color: black;
  border-style: solid;
  padding: 0.5em;
  border-radius: 1em;
  border-width: 0.15em;
  font-weight: bold;
  color: #003049;
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  justify-self: center;
  width: 10em;
  max-width: 60%;
  text-align: center;
  box-shadow: 3px 3px 18px -8px #263238;
  overflow: hidden;
  opacity: 0.9;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  z-index: 2000;
}

.share-div {
  display: grid;
  grid-column: 2;
  grid-row: 4;
  align-self: start;
  justify-self: safe end;
  margin: auto;
  margin-right: 0.3em;
  font-size: 1.2em;
  z-index: 2000;
}

.button-div {
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  justify-self: safe end;
  margin: auto;
  text-align: center;
  overflow: hidden;
  margin-top: 0em;
  z-index: 2000;
}

.button-div span {
  display: inline-block;
  width: 7.5em;
  font-size: 0.8em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color: black;
  opacity: 0.7;
}

.share-div i {
  font-size: 2em;
  color: #003049;
}

.share-div i:hover {
  cursor: pointer;
}

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}

.d-none {
  display: none;
}

.swal2-container {
  display: grid;
  width: 100%;
  height: 100%;
  position: fixed;  
}

.swal2-modal {
  grid-row: 2;
  grid-column: 2;
}

